body {
	/* Background color and image */
	background-color: #f0f0f0; /* Change to your desired background color */
	/*background-image: url('sub.jpg'); /* Optional: Set a background image */
  
	/* Text color and font */
	color: #0b0909; /* Change to your desired text color */
	font-family: Arial, sans-serif; /* Change to your desired font family */
  
	/* Spacing and alignment */
	margin: 0; /* Remove default body margin */
	padding: 20px; /* Add padding to the body */
	text-align: center; /* Center the text within the body */
  
	/* Other styles */
	line-height: 1.6; /* Adjust line height for better readability */
	font-weight: bold;
  }
  
  /* Base styles for the button */
.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #d000ff;
	color: #0cf320;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	width:200px;
  }
  

#increment-btn {

	background: rgb(236, 163, 29);
	color: black;
	font-weight: bold;
	display: inline-block;
	padding: 10px 20px; 
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	width:200px;
}

#output{
	color: rgb(198, 7, 7);
	font-weight: bold;
	font-size: 50px;
	font-weight: bold;

}

#save-btn {

	background: rgb(90, 227, 4);
	color: black;
	font-weight: bold;
	display: inline-block;
	padding: 10px 20px; 
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	width:200px;
}